/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    background-color: #f4f4f4;
    display: flex;
    margin: 0;
}

#sidebar {
    width: 25%;
    background: #111111;
    color: #fff;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    transition: transform 0.3s ease;
}

#sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#toggle-btn {
    position: fixed;
    top: 1rem;
    left: 1rem;
    background: #555;
    border: none;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 2000;
    transition: background 0.3s;
}

#toggle-btn:hover {
    background: #777;
}

.profile {
    text-align: center;
    margin-bottom: 2rem;
}

#profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-left: 30px;
    margin: 1rem 0;
}

nav ul li a {

    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

#main-content {
    margin-left: 25%;
    padding: 1rem;
    width: 75%;
}

.module {
    margin-bottom: 2rem;
    padding: 1rem;
    padding-left: 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease;
}

.module h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.experience-item {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
    transition: background 0.3s, transform 0.3s;
}

.experience-item:hover {
    background: #f0f0f0;
    transform: translateX(10px);
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    /* justify-content: ; */
    align-items: center;
    z-index: 1000;
}

.modal img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    max-height: 80%;
    border: 2px solid #fff;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

#prev-btn,
#next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    /* Degradado impresionante */
    color: #fff;
    border: none;
    font-size: 2.5rem;
    /* Tamaño más impactante */
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 15%;
    /* Forma circular */
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); */
    /* Sombra elegante */
    z-index: 1001;
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
}

#prev-btn:hover,
#next-btn:hover {
    background: linear-gradient(45deg, #ff512f, #dd2476);
    /* Cambia a un degradado más vibrante */
    transform: scale(1.2);
    /* Aumenta ligeramente de tamaño */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    /* Más sombra al pasar el ratón */
}

#prev-btn {
    left: 20px;
    /* Más separación del borde */
}

#next-btn {
    right: 20px;
    /* Más separación del borde */
}

#prev-btn:active,
#next-btn:active {
    transform: scale(1);
    /* Regresa al tamaño original al hacer clic */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    /* Menor sombra al hacer clic */
    background: linear-gradient(45deg, #3a7bd5, #3a6073);
    /* Un degradado más oscuro al hacer clic */
}


.close {

    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

li {
    margin-left: 16px;
}

ul {
    margin-bottom: 30px;
}

.modal-btn {
    margin-top: 12px;
    height: 30px;
    width: 100px;
    color: azure;
    background-color: #555;
}

.masterv2 {
    display: block;
}